<<<<<<< HEAD
<h1>Login to PUBG Game Tracker!</h1>
=======
<h1>Login to Fwitter!</h1>
>>>>>>> 80a72eeacd9d76be5eb4821172e7354f5253333a
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">

  <input type="submit" value="submit">
</form>