<<<<<<< HEAD
<h1>Welcome to The PUBG Game Tracker where you can manually add your stats for each game to track your progression!</h1>
=======
<h1>Welcome to Fwitter, where the F is for Flatiron and not fake!</h1>
>>>>>>> 80a72eeacd9d76be5eb4821172e7354f5253333a
<p>Please signin or signup :</p>

<nav>
  <% if logged_in? %>

<<<<<<< HEAD
    <a href="/games/new"> Add Game </a>
=======
    <a href="/tweets/new"> Create Tweet </a>
>>>>>>> 80a72eeacd9d76be5eb4821172e7354f5253333a
    <a href="/logout"> Log Out </a>
    <p>Welcome, <%=current_user.username %></p>

  <% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>

</nav>