<!doctype html>
<html>
  <head>
<<<<<<< HEAD
    <title>PUBG Game Tracker</title>
=======
    <title>Fwitter</title>
>>>>>>> 80a72eeacd9d76be5eb4821172e7354f5253333a
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    
    <div class="container">
<<<<<<< HEAD
      <h1>PUBG Game Tracker</h1>
=======
      <h1>Fwitter</h1>
>>>>>>> 80a72eeacd9d76be5eb4821172e7354f5253333a
      <%= yield %>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
